{% extends "BaseAdmin.html.twig" %}

{% block body %}
    <div class="content">
        <div class="row">
            <div class="col-md-8">
                <div class="card"><center>
                    <div class="card-header mb-5">
                        <h5 class="card-category">Date :{{ v.postDate|date("m/d/Y")}} </h5>
                        <h3 class="card-title">Article Title : {{ v.ArticleTitle }}</h3>
                    </div>
                    <div class="card-body"><div class="col-md-12">
                        <h3>Article Content:{{ v.articleContent|raw }}</h3>
                        <br>


                            <img class="img-fluid" src="{{ asset('uploads/images/' ~ v.image) }}" alt="" width="750" height="500">
                        </div>
                        <br>
                        <br>
                        <div class="col-md-12" style="word-wrap:break-word">
                                        <h3>Post Details</h3>
                                        <ul class="list-unstyled">
                                            <li>Author : {{ v.author.username }}</li>
                                            <li>Type : {{ v.postType }}</li>
                                            <li >Comments {{ v.postCommentCount }} Comments</li>
                                            <li>Likes : {{ v.postLikesCount }} Likes</li>
                                        </ul>
                        </div>

                    </div></center>
                </div>
            </div>
            <!-- Page Content -->
        </div></div>
<!-- Page Content -->

{% endblock %}