{% extends "SmartStartBase.html.twig" %}
{% block title %}Blog Managment{% endblock %}
{% block body %}
    <!-- Title Page -->
    <section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15" style="background-image: url({{ asset('assets/images/blog-banner.png') }});">
        <h2 class="tit6 t-center">
        </h2>
    </section>
    <br><br>

    <div class="container">

        <div class="row">
            <div class="col-sm-3"><!--left col-->

                <ul class="list-group">
                    <li class="list-group-item" style="color: midnightblue;font-size: small;font-family: Montserrat-Bold">Profile</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>First Post</strong></span> {{ first|join }}</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>Last Post</strong></span> {{ last|join }}</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>Username</strong></span>{{ app.user.username }}</li>

                </ul>





                <br>

                <ul class="list-group">
                    <li class="list-group-item" style="color: midnightblue;font-size: small;font-family: Montserrat-Bold">Number Of Posts Per Category</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>NEWSJACKING</strong></span>{{ n|join }}</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>INSTRUCTIONAL</strong></span>{{ i|join }}</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>PERSONAL SPOTLIGHT</strong></span>{{ p|join }}</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>CHEAT SHEET</strong></span>{{ c|join }}</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>MEDIA</strong></span>{{ m|join }}</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>ENTERTAINING</strong></span>{{ e|join }}</li>

                </ul>


                <br>

                <ul class="list-group">
                    <li class="list-group-item" style="color: midnightblue;font-size: small;font-family: Montserrat-Bold">Numbers</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>Likes</strong></span>{{ l|join }}</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>Comments</strong></span> {{ com|join }}</li>


                </ul>
                {% if l|join>1000 %}

                    <br>
                    <ul class="list-group">
                        <li class="list-group-item" style="color: midnightblue;font-size: small;font-family: Montserrat-Bold">Profits</li>
                        <li class="list-group-item text-right"><span class="pull-left"><strong>Likes</strong></span>{{ l|join }}</li>
                        <li class="list-group-item text-right"><span class="pull-left"><strong>Comments</strong></span> {{ com|join }}</li>
                    </ul>
                        <br>

                {% if profit==null %}
                        <center><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                    <i class="fas fa-money-check-alt">  Ask For Your Money</i>
                        </button></center>

                        <!-- The Modal -->
                        <div class="modal fade" id="myModal">
                            <div class="modal-dialog">
                                <div class="modal-content">

                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h4 class="modal-title">Modal Heading</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        Modal body..
                                    </div>

                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>

                                        <a href="{{ path('blog_Profits') }}" class="btn btn-info">
                                            Accept
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                        {% endif %}
                    {% if profit!=null %}
                        {% for i in profit %}
                            {% if i.Status==1 %}
                        Successfully Sent !
                        You will have to wait until <span>{{ i.EndDate|date('l jS \f F Y h:i:s A') }}</span> to ask for your next pay !
                            {% endif %}
                            {% if i.Status==2 %}
                                Ongoing
                                <a href="{{ path('blog_Profits') }}" class="btn btn-info">
                                    Confirm your Payment
                                </a>
                            {% endif %}
                        {% endfor %}

                        {% endif %}
                {% endif %}
                {% if l|join<1000 %}
                <br><br>Vous devez Debloquer les 1000 Likes pour rentabiliser votre Blog
                {% endif %}


            </div><!--/col-3-->
            <div class="col-sm-9">



                <div class="tab-content">
                    <div class="tab-pane active" id="home">
                        <div id="carousel-example-2" class="carousel slide carousel-fade z-depth-1-half" data-ride="carousel">
                            <!--Indicators-->
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-2" data-slide-to="1"></li>
                                <li data-target="#carousel-example-2" data-slide-to="2"></li>
                            </ol>
                            <!--/.Indicators-->
                            <!--Slides-->

                            <!--/.Slides-->
                            <!--Controls-->
                            <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                            <!--/.Controls-->
                        </div>



                        <h4>Your Posts</h4>
                        <br><hr>
                         {% for blogposts in v %}
                        <div class="media">
                            <img class="mr-3" src="{{ asset('uploads/images/' ~ blogposts.image) }}" width="64" height="64" alt="Generic placeholder image">
                            <div class="media-body">
                                <h5 class="mt-0">{{ blogposts.articleTitle }}</h5>
                                {{ blogposts.articleContent|raw }}
                            </div>
                            <div class="right">
                                <a href="{{ path('blog_delete',{('postId'):blogposts.postId}) }}" class="delete"><i class="fas fa-trash-alt" data-toggle="tooltip" title="Delete" style="color: darkred"></i></a>

                                <a href="{{ path('Update_BlogPost',{('postId'):blogposts.postId}) }}"><i class="fas fa-edit" data-toggle="tooltip" title="Edit"style="color: green"></i></a><br><br>
                                <i class="far fa-calendar" style="color: midnightblue;"></i> {{ blogposts.postDate|date("m/d/Y")}}
                                <br>
                                <i class="far fa-thumbs-up" style="color:midnightblue"></i>
                                <span class="js-likes" style="color: midnightblue">{{ blogposts.postLikesCount }}</span>
                                <span class="js-label" style="color: midnightblue">Like</span>
                                <br>
                                <i class="fas fa-comments" style="color:midnightblue"></i> {{ blogposts.postCommentCount }} Comments
                            </div>
                        </div>
                             <br><hr>
                        {% endfor %}

                    </div><!--/tab-pane-->
                </div> <center><div class="pagination flex-l-m flex-w m-l--6 p-t-25">
                        <center>{{ pagination(v, 'page') }}</center></div></center>
                <br><br>
            </div>


        </div>
        <!--/col-9-->
    </div>


{% endblock %}