{% extends "SmartStartBase.html.twig" %}
{% block title %}Blog Managment{% endblock %}
{% block body %}
    <!-- Title Page -->
    <section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15" style="background-image: url({{ asset('assets/images/blog-banner.png') }});">
        <h2 class="tit6 t-center">
        </h2>
    </section>
    <br><br>

    <div class="container">

        <div class="row">
            <div class="col-lg-3" class="sticky-top"><!--left col-->

                <ul class="list-group">
                    <li class="list-group-item" style="color: midnightblue;font-size: small;font-family: Montserrat-Bold">Profile</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>First Post</strong></span> {{ first|join }}</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>Last Post</strong></span> {{ last|join }}</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>Username</strong></span>{{ app.user.username }}</li>

                </ul>





                <br>

                <ul class="list-group">
                    <li class="list-group-item" style="color: midnightblue;font-size: small;font-family: Montserrat-Bold">Number Of Posts Per Category</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>NEWSJACKING</strong></span>{{ n|join }}</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>INSTRUCTIONAL</strong></span>{{ i|join }}</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>PERSONAL SPOTLIGHT</strong></span>{{ p|join }}</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>CHEAT SHEET</strong></span>{{ c|join }}</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>MEDIA</strong></span>{{ m|join }}</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>ENTERTAINING</strong></span>{{ e|join }}</li>

                </ul>


                <br>

                <ul class="list-group">
                    <li class="list-group-item" style="color: midnightblue;font-size: small;font-family: Montserrat-Bold">Numbers</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>Likes</strong></span>{{ l|join }}</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>Comments</strong></span> {{ com|join }}</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>Views</strong></span> {{ view|join }}</li>


                </ul>
                {% if l|join>1000 %}

                    <br>
                    <ul class="list-group">
                        <li class="list-group-item" style="color: midnightblue;font-size: small;font-family: Montserrat-Bold">Profits</li>
                        <li class="list-group-item text-right"><span class="pull-left"><strong>Likes</strong></span>{{ l|join*0.0333  }} Dt</li>
                        <li class="list-group-item text-right"><span class="pull-left"><strong>Comments</strong></span> {{ com|join*0.00333 }} Dt</li>
                    </ul>
                        <br>

                {% if profit==null %}
                        <center><a href="{{ path('blog_Profits') }}" type="button" class="btn btn-primary">
                    <i class="fas fa-money-check-alt">  Ask For Your Money</i>
                        </a></center>

                        <!-- The Modal -->
                        <div class="modal fade" id="myModal">
                            <div class="modal-dialog">
                                <div class="modal-content">

                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h4 class="modal-title">Modal Heading</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        Modal body..
                                    </div>

                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>

                                        <a href="{{ path('blog_Profits') }}" class="btn btn-info">
                                            Accept
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>

                {% endif %}
                    {% if profit!=null %}
                        {% for i in profit %}
                            {% if i.Status==1 %}
                                {% if "now"|date('Y-m-d') < i.EndDate|date('Y-m-d') %}


                        Successfully Sent !
                        You will have to wait until <span>{{ i.EndDate|date('l jS \f F Y h:i:s A') }}</span> to ask for your next pay !
                            {% endif %}
                                {% if "now"|date('Y-m-d') > i.EndDate|date('Y-m-d') %}
                                    <center><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                                            <i class="fas fa-money-check-alt">  Ask For Your Money</i>
                                        </button></center>

                                    <!-- The Modal -->
                                    <div class="modal fade" id="myModal">
                                        <div class="modal-dialog">
                                            <div class="modal-content">

                                                <!-- Modal Header -->
                                                <div class="modal-header">
                                                    <h4 class="modal-title">Modal Heading</h4>
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                </div>

                                                <!-- Modal body -->
                                                <div class="modal-body">
                                                    Modal body..
                                                </div>

                                                <!-- Modal footer -->
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>

                                                    <a href="{{ path('blog_Profits') }}" class="btn btn-info">
                                                        Accept
                                                    </a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                            {% if i.Status==2 %}
                                Ongoing
                                <a href="{{ path('blog_Profits') }}" class="btn btn-info">
                                    Confirm your Payment
                                </a>
                            {% endif %}
                            {% if i.Status==0 %}
                                {% if "now"|date('Y-m-d') < i.EndDate|date('Y-m-d') %}


                                    Successfully Sent !
                                    You will have to wait until <span>{{ i.EndDate|date('l jS \f F Y h:i:s A') }}</span> to ask for your next pay !
                                {% endif %}
                                {% if "now"|date('Y-m-d') > i.EndDate|date('Y-m-d') %}
                                    <center><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                                            <i class="fas fa-money-check-alt">  Ask For Your Money</i>
                                        </button></center>

                                    <!-- The Modal -->
                                    <div class="modal fade" id="myModal">
                                        <div class="modal-dialog">
                                            <div class="modal-content">

                                                <!-- Modal Header -->
                                                <div class="modal-header">
                                                    <h4 class="modal-title">Modal Heading</h4>
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                </div>

                                                <!-- Modal body -->
                                                <div class="modal-body">
                                                    Modal body..
                                                </div>

                                                <!-- Modal footer -->
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>

                                                    <a href="{{ path('blog_Profits') }}" class="btn btn-info">
                                                        Accept
                                                    </a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}

                        {% endif %}
                {% endif %}
                {% if l|join<1000 %}
                <br><br>Vous devez Debloquer les 1000 Likes pour rentabiliser votre Blog
                {% endif %}


            </div><!--/col-3-->
            <div class="col-sm-9">



                <div class="tab-content">
                    <div class="tab-pane active" id="home">
                        <div id="carousel-example-2" class="carousel slide carousel-fade z-depth-1-half" data-ride="carousel">
                            <!--Indicators-->
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-2" data-slide-to="1"></li>
                                <li data-target="#carousel-example-2" data-slide-to="2"></li>
                            </ol>
                            <!--/.Indicators-->
                            <!--Slides-->

                            <!--/.Slides-->
                            <!--Controls-->
                            <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                            <!--/.Controls-->
                        </div>



                        <h4>Your Posts</h4>
                        <br><hr>

                        <div class="container-fluid">
                            <div class="row">
                        {% for blogposts in v %}


                                    <div class="col-lg-4 col-md-3 col-sm-4 col-xs-12">
                                        <div class="tile">
                                            <div class="wrapper">
                                                <div class="header"> <strong>Article : </strong> {{ blogposts.articleTitle }}
                                                <br>
                                                    <br>
                                               <i class="far fa-calendar" style="color: midnightblue;">  <p>{{ blogposts.postDate|date("m/d/Y")}}</p></i></div>

                                                <div class="banner-img">
                                                    <img src="{{ asset('uploads/images/' ~ blogposts.image) }}" alt="Image 1" width="100px" height="140px">
                                                </div>


                                                <div class="stats">

                                                    <div>
                                                        <strong>VIEWS</strong> {{ blogposts.views }}
                                                    </div>

                                                    <div>
                                                        <strong>LIKES</strong> {{ blogposts.postLikesCount }}
                                                    </div>

                                                    <div>
                                                        <strong>COMS</strong> {{ blogposts.postCommentCount }}
                                                    </div>

                                                </div>

                                                <div class="footer">
                                                    <center>
                                                    <a href="{{ path('blog_delete',{('postId'):blogposts.postId}) }}" class="delete" onclick="return confirm('Are you sure')"><i class="fas fa-trash-alt" data-toggle="tooltip" title="Delete" style="color: darkred"></i></a>

                                                    <a href="{{ path('Update_BlogPost',{('postId'):blogposts.postId}) }}"><i class="fas fa-edit" data-toggle="tooltip" title="Edit"style="color: green"></i></a>
                                                    </center> </div>
                                            </div>
                                        </div>
                                    </div>



                        {% endfor %}</div>
                </div>

                    </div><!--/tab-pane-->
                </div>

                <center><div class="pagination flex-l-m flex-w m-l--6 p-t-25">
                        <center>{{ pagination(v, 'page') }}</center></div></center>
                <br><br>
            </div>
            <style>

                * { margin: 0px; padding: 0px; }
                body {
                    background: #ecf1f5;
                    font:14px "Open Sans", sans-serif;
                    text-align:center;
                }

                .tile{
                    width: 100%;
                    background:#fff;
                    border-radius:5px;
                    box-shadow:0px 2px 3px -1px rgba(151, 171, 187, 0.7);
                    float:left;
                    transform-style: preserve-3d;
                    margin: 10px 5px;

                }

                .header{
                    border-bottom:1px solid #ebeff2;
                    padding:19px 0;
                    text-align:center;
                    color:darkred;
                    font-size:14px;
                    font-size:14px;
                    position:relative;
                }

                .banner-img {
                    padding: 5px 5px 0;
                }

                .banner-img img {
                    width: 100%;
                    border-radius: 5px;
                }

                .dates{
                    border:1px solid #ebeff2;
                    border-radius:5px;
                    padding:20px 55px;
                    margin:10px 0px;
                    font-size:16px;
                    color:midnightblue;
                    font-weight:600;
                    overflow:auto;
                }
                .dates div{
                    float:left;
                    width:50%;
                    text-align:center;
                    position:relative;
                }
                .dates strong,
                .stats strong{
                    display:block;
                    color:#adb8c2;
                    font-size:11px;
                    font-weight:700;
                }
                .dates span{
                    width:1px;
                    height:40px;
                    position:absolute;
                    right:0;
                    top:0;
                    background:#ebeff2;
                }
                .stats{
                    border-top:1px solid #ebeff2;
                    background:#f7f8fa;
                    overflow:auto;
                    padding:15px 0;
                    font-size:16px;
                    color:#59687f;
                    font-weight:600;
                    border-radius: 0 0 5px 5px;
                }
                .stats div{
                    border-right:1px solid #ebeff2;
                    width: 33.33333%;
                    float:left;
                    text-align:center
                }

                .stats div:nth-of-type(3){border:none;}

                div.footer {
                    text-align: right;
                    position: relative;
                    margin: 20px 5px;
                }

                div.footer a.Cbtn{
                    padding: 10px 25px;
                    background-color: #DADADA;
                    color: #666;
                    margin: 10px 2px;
                    text-transform: uppercase;
                    font-weight: bold;
                    text-decoration: none;
                    border-radius: 3px;
                }

                div.footer a.Cbtn-primary{
                    background-color: #5AADF2;
                    color: #FFF;
                }

                div.footer a.Cbtn-primary:hover{
                    background-color: #7dbef5;
                }

                div.footer a.Cbtn-danger{
                    background-color: #fc5a5a;
                    color: #FFF;
                }

                div.footer a.Cbtn-danger:hover{
                    background-color: #fd7676;
                }
                .navbar {
                    overflow: hidden;
                    background-color: #333;
                    position: fixed;
                    left: 0;
                    width: 40%;
                }
            </style>


        </div>
        <!--/col-9-->
    </div>


{% endblock %}