
{% extends "SmartStartBase.html.twig" %}
{% block title %}All Opportunities{% endblock %}
{% block body %}
    <section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15" style="">
        <h2 class="tit6 t-center">
            Reservation
        </h2>

    </section>
    {% if app.session.started %}
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert alert-{{ flashMessage.alert }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <strong>{{ flashMessage.title }}</strong> {{ flashMessage.message }}"
            </div>
        {% endfor %}
    {% endif %}


    <!-- Search -->


    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script>
        jQuery(function ($) {
            var $inputs = $('input[name=searched],input[name=wage]');
            $inputs.on('input', function () {
                // Set the required property of the other input to false if this input is not empty.
                $inputs.not(this).prop('required', !$(this).val().length);
            });
        });



    </script>





    <form  class="flex-c-m flex-w flex-col-c-m-lg p-l-5 p-r-5">
			<span class="txt5 m-10">
				Browse Opportunities
			</span>

        <div class="wrap-input-signup size17 bo2 bo-rad-10 bgwhite pos-relative txt10 m-10">
            <input class="bo-rad-10 sizefull txt10 p-l-20" pattern="[A-Za-z]+" name="searched"  placeholder="Title,Category" required  title="Opportunities' titles and categories are alphabetical">

        </div>
        <div class="wrap-input-signup size17 bo2 bo-rad-10 bgwhite pos-relative txt10 m-10">
            <input class="bo-rad-10 sizefull txt10 p-l-20" type="number" name="wage" placeholder="Minimum wage" min="0" required >



        </div>
        <!-- Button3 -->

        <a  href="{{ path('application_homepage')}}">
        <button type="submit" class="btn3 flex-c-m size18 txt11 trans-0-4 m-10">
            Search
        </button> </a>
    </form>

    <!-- Reservation -->
{% for i in opps %}
    <section class="section-reservation bg1-pattern p-t-100 p-b-113">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 p-b-30">
                    <div class="t-center">
						<span class="tit2 t-center">
							{{ i.jobTitle }}
						</span>

                        <h3 class="tit3 t-center m-b-35 m-t-2">
                            {{ i.jobCategory }}
                        </h3>
                    </div>


                        <div class="row">
                            <div class="col-md-4">
                                <!-- JOB DESC -->
                                <span class="txt9">
									Job Description
								</span>

                                <div class="wrap-inputname size12 bo2 bo-rad-10 m-t-3 m-b-23">
                                    <span class="bo-rad-10 sizefull txt10 p-l-20"   >
                                        {{ i.jobDescription }}
                                    </span>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <!-- Salary -->
                                <span class="txt9">
									Salary
								</span>

                                <div class="wrap-inputname size12 bo2 bo-rad-10 m-t-3 m-b-23">
                                    <span class="bo-rad-10 sizefull txt10 p-l-20"   >
                                        {{ i.budget}}
                                    </span>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <!-- StartUp Name -->

						  <span class="txt9">
									StartUp Name
								</span>

                                <div class="wrap-inputname size12 bo2 bo-rad-10 m-t-3 m-b-23">
                                    <span class="bo-rad-10 sizefull txt10 p-l-20"   >
                                 {{ i.idEntreprise.name}}
                                    </span>
                                </div>
                            </div>

                            <div class="col-md-4">
                            <!-- Button3 -->



                                      <a> <button onclick="test({{ i.idOpp }})" class="btn3 flex-c-m size13 txt11 trans-0-4">  Apply    </button> </a>



                        </div>

                </div>
            </div>




            </div>

        </div>
        {% endfor %}
        <script >
function test(id) {
  $.ajax(
      {
          url : '{{ path('apply_opp')}}'
          ,type: 'POST'
          ,dataType: 'json'
          ,data : { "id" : id}
          ,success : function ( data,status)
      { var
          i=data[0];
          alertify
              .alert(i['msg'], function(){

              });

      }


      }
  )
}


        </script>
    </section>


    <!-- JavaScript -->
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/alertify.min.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/alertify.min.css"/>
    <!-- Default theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/themes/default.min.css"/>
    <!-- Semantic UI theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/themes/semantic.min.css"/>
    <!-- Bootstrap theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/themes/bootstrap.min.css"/>

    <!--
        RTL version
    -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/alertify.rtl.min.css"/>
    <!-- Default theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/themes/default.rtl.min.css"/>
    <!-- Semantic UI theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/themes/semantic.rtl.min.css"/>
    <!-- Bootstrap theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/themes/bootstrap.rtl.min.css"/>



{% endblock %}

