{% extends "SmartStartBase.html.twig" %}
        {% block content %}
            <div class="content-wrapper">
                <section class="content-header">
                    <h1>
                        Update this reply
                        <small> if you answer it you get bonus </small>
                    </h1>
                </section>
                <section class="content">
                    <div class="callout callout-info">
                        <h4> {{ quest.question }} ?</h4>

                        <p> {{ quest.description }}  </p>

                    </div>
                    {{ form_start(form) }}
                        <div class="box">
                            <div class="box-header with-border">
                                <h3 class="box-title"> modify content reply </h3>

                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                                         {{ form_widget(form.Add) }} </button>
                                </div>
                            </div>
                            <div class="box-body">
                                {{ form_widget(form.content) }}
                            </div>
                            <div class="box-footer">
                            </div>
                        </div>
                    {{ form_end(form) }}
                </section>
            </div>



            <script>


            </script>
        {% endblock %}


