{% extends "SmartStartBase.html.twig" %}
{% block title %}Complaints{% endblock %}
{% block body %}

    <section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15" style="background-image: url({{ asset('assets/images/blog-banner.png') }});">
        <h2 class="tit6 t-center">
        </h2>
    </section>

    <div class="container">
        <div class="row justify-content-center align-items-center ">
        {% for i in con %}


            <div class="modal-dialog col-md-6 modal-notify modal-info" role="document" style="width: 100%" style="display: inline-block" >
                <!--Content-->
                <div class="modal-content text-center">
                    <!--Header-->
                    <div class="modal-header d-flex justify-content-center">
                        <p class="heading">{{ i.idApplication.idOpportunity.JobTitle }}</p>

                    </div>

                    <!--Body-->
                    <div class="modal-body align-items-center align-items-center text-center">
                        <p class="w-100">{{ i.comment }}</p>
                        <div class="form-group justify-content-center text-center">
                            <fieldset class="rating">
                                <input type="radio" id="star5"  disabled {% if i.rating == 5 %} checked {% endif %}  name="rating{{ i.idFeedback }}" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                                <input type="radio" id="star4half" disabled {% if i.rating == 4.5 %} checked {% endif %} name="rating{{ i.idFeedback }}" value="4.5" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                                <input type="radio" id="star4" disabled {% if i.rating == 4 %} checked {% endif %} name="rating{{ i.idFeedback }}" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                                <input type="radio" id="star3half" disabled {% if i.rating == 3.5 %} checked {% endif %} name="rating{{ i.idFeedback }}" value="3.5" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                                <input type="radio" id="star3" disabled {% if i.rating == 3 %} checked {% endif %} name="rating{{ i.idFeedback }}" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
                                <input type="radio" id="star2half" disabled name="rating{{ i.idFeedback }}" {% if i.rating == 2.5 %} checked {% endif %} value="2.5" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                                <input type="radio" id="star2"  disabled {% if i.rating == 2 %} checked {% endif %} name="rating{{ i.idFeedback }}" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                                <input type="radio" id="star1half" disabled name="rating{{ i.idFeedback }}" {% if i.rating == 1.5 %} checked {% endif %} value="1.5" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                                <input type="radio" id="star1" disabled name="rating{{ i.idFeedback }}" {% if i.rating == 1 %} checked {% endif %} value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                                <input type="radio" id="starhalf" disabled name="rating{{ i.idFeedback }}" {% if i.rating == 0.5 %} checked {% endif %} value="0.5" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                            </fieldset>

                        </div>

                    </div>

                    <!--Footer-->
                    <div class="modal-footer flex-center">

                        <a href="#modalConfirmDelete{{ i.idFeedback }}" class="btn btn-info" data-toggle="modal" data-target="#modalConfirmDelete{{ i.idFeedback }}">Remove</a>
                        <a href="#updateContract{{ i.idFeedback }}" data-toggle="modal" class="btn btn-outline-info waves-effect" data-dismiss="modal">Details</a>
                    </div>
                </div>
                <!--/.Content-->
            </div>

            <!-- Add Modal HTML -->
            <div id="updateContract{{ i.idFeedback }}" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">All Details ...</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>

                        <div class="modal-body">
                            <div class="form-group">
                                <label>User</label>
                                <input type="text" class="form-control" disabled="true" value="{{ i.idUser.name }} {{ i.idUser.lastName }}">

                            </div>
                            <div class="form-group">
                                <label>Rating</label>
                                <input type="text" id="idApplication" name="idApplication" disabled="true" class="form-control" disabled="true" value="{{ i.rating }}">

                            </div>
                                <div class="form-group">
                                    <label>Comment</label>
                                    <input type="text" id="comment" name="comment" disabled="true" class="form-control" value="{{ i.comment }}">

                                </div>
                            <div class="form-group">
                                <label>Application</label>
                                <input type="text" id="idApplication" name="idApplication" disabled="true" class="form-control" value="{{ i.idApplication}}">

                            </div>

                            <div class="form-group">
                                <label>Added Date</label>
                                <input type="text" class="form-control" disabled="true" value="{{ i.addedDate|date }}">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="modalConfirmDelete{{ i.idFeedback }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
                    <!--Content-->
                    <div class="modal-content text-center">
                        <!--Header-->
                        <div class="modal-header d-flex justify-content-center">
                            <p class="heading">Are you sure?</p>
                        </div>

                        <!--Body-->
                        <div class="modal-body">

                            <i class="fas fa-times fa-4x animated rotateIn"></i>

                        </div>

                        <!--Footer-->
                        <div class="modal-footer flex-center">
                            <a href="{{ path("remove_feedback",{'id': i.idFeedback})}}" class="btn  btn-outline-danger">Yes</a>
                            <a type="button" class="btn  btn-danger waves-effect" data-dismiss="modal">No</a>
                        </div>
                    </div>
                    <!--/.Content-->
                </div>
            </div>
        {% endfor %}

        </div>
        <div class="pagination flex-l-m flex-w m-l--6 p-t-25">

            {{ pagination(con, 'page') }}
        </div>
    </div>



    <style>

        fieldset, label { margin: 0; padding: 0; }
        body{ margin: 20px; }
        h1 { font-size: 1.5em; margin: 10px; }

        /****** Style Star Rating Widget *****/

        .rating {
            border: none;
            float: left;
        }

        .rating > input { display: none; }
        .rating > label:before {
            margin: 5px;
            font-size: 3em;
            font-family: FontAwesome;
            display: inline-block;
            content: "\f005";
        }

        .rating > .half:before {
            content: "\f089";
            position: absolute;
        }

        .rating > label {
            color: #ddd;
            float: right;
        }

        /***** CSS Magic to Highlight Stars on Hover *****/

        .rating > input:checked ~ label, /* show gold star when clicked */


        .rating > label:hover ~ input:checked ~ label, /* lighten current selection */
        .rating > input:checked ~ label:hover ~ label { color: #FFED85;  }
    </style>

{% endblock %}